{{define "imports" -}}
{{- with .Imports}}
{{with .}}{{formatImports . | indent "  "}}{{end}}
{{end}}
{{- end}}

{{define "template reference"}}{{.Position.String}} {{.Kind}} {{if ne (filepathBase .Position.Filename) .Name}}{{printf "%q" .Name}}{{end}}{{with .Data}} {{.}}{{end}}{{end}}